<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payano.homeassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="com.payano.homeassistant.AppController"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Axzae">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="d174d6772b2d398c3349c872c4dcb335ccec42ee" />

        <activity
            android:name="com.payano.homeassistant.ConnectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Axzae.Inverse"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.payano.homeassistant.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Axzae.Main" />
        <activity
            android:name="com.payano.homeassistant.EntityActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.payano.homeassistant.EditActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Axzae.EditTheme" />
        <activity
            android:name="com.payano.homeassistant.SettingsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.payano.homeassistant.AboutActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.payano.homeassistant.LibraryActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.payano.homeassistant.ChangelogActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.payano.homeassistant.WikiActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.payano.homeassistant.LogbookActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.payano.homeassistant.TransparentActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Transparent"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d174d6772b2d398c3349c872c4dcb335ccec42ee"
            />
        <provider
            android:name="com.payano.homeassistant.provider.EntityContentProvider"
            android:authorities="com.payano.homeassistant.provider.EntityContentProvider"
            android:exported="false" />
        <provider
            android:name="com.payano.homeassistant.provider.DummyContentProvider"
            android:authorities="com.payano.homeassistant.provider.DummyContentProvider"
            android:exported="false" />

        <receiver android:name="com.payano.homeassistant.provider.EntityWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/entity_widget_info" />
        </receiver>
        <receiver
            android:name="com.payano.homeassistant.service.DataSyncService$TerminateConnectionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="TERMINATE_CONNECTION" />
            </intent-filter>
        </receiver>

        <activity android:name="com.payano.homeassistant.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name="com.payano.homeassistant.GroupActivity" />
        <activity android:name="com.payano.homeassistant.MapActivity" />

        <!-- <service -->
        <!-- android:name=".service.HaFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- <service -->
        <!-- android:name=".service.HaFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <service android:name="com.payano.homeassistant.service.DataSyncService" />

        <activity android:name="com.payano.homeassistant.FingerprintActivity"></activity>
    </application>

</manifest>